@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');
:root {
    --bg1: #292F36;
    --bg2: #1A1E23;
    --brand1: #12F7D6;
    --brand2: #98FAEC;
    --grey: #43454D;
    --white: #FFFFFF;
    --html: #E54F26;
    --css: #0C7388;
    --js: #E7A020;
    --react: #28A9E0;
}


/* Global Styles */
body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #292F36;
  }
  
