/* Icon styling */
.icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--brand1);
    margin-right: 8px;
}

.email-icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--white);
    margin-right: 8px;
    
    /* Create a light circle around the icon */
    background-color: transparent; /* Transparent background */
    border-radius: 60%; /* Fully round */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Light circle effect */
    padding: 6px; /* Add padding to create space between icon and shadow */
    transition: ease-in-out 0.2s;
}


.email-icon:hover {
    fill: var(--brand1);
    border-radius: 60%;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Light circle effect */
    transition: ease-in-out 0.2s;
}

 