.hero-main {
    max-width: 1664px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}



/* Hero section styles */
.hero {
    display: flex;
    
    align-items: flex-start;
    max-width: 1664px;
    margin-top: 0px;
    color: var(--white);
    background-color: var(--bg1);
    padding: 0px 20px 0px 95px;
    min-height: 100vh;
    transition: all 0.5s ease;
}

.hero-title {
    
    font-size: 4rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 20px;
    
}

.hero-intro {
    max-width: 600px;
    margin-left: 0px;
    padding-top: 80px;
    flex: 1;
    transition: all 0.5s ease;
    padding-left: 30px;
}

.hero-cta {
    font-size: 1.5rem;
}

.hero-intro h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: var(--white);
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;  /* Regular weight */
    
}

.hero-intro .highlight {
    color: var(--brand1);
    font-size: 2rem;

}

.hero-intro p {
    font-size: 1.1rem;
    margin: 0px;
    color: var(--grey);
    padding-inline: 50px;
    margin-left: 0px;
    text-align: left;
   
    
}

.html-code-display-h1 {
    margin: 0px;
}
.html-code-display-p {
    margin: 0px;
    margin-left: 30px;
}