/* Download CV Button */
.download-cv-container {
    padding-top: 30px;
}

.download-cv {
    background-color: var(--white);
    color: var(--bg1);
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.download-cv:hover {
    background-color: var(--brand1);
}
